body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    --nav-load-time: 300ms;
    --nav-link-load-time :500ms;
    --heading-load-delay : 500ms;
}

html{
    scroll-behavior: smooth;
}

.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}

.drop-area:hover {
    border-color: #3498db;
}

.instructions {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #666;
}

.file-input {
    display: none;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}


button:hover {
    background-color: #2980b9;
}
.button1:hover {
    background-color: #f25757;
   
}

nav{
    animation: nav-load var(--nav-load-time) ease-in;
}
.nav{
    display: flex;
    justify-content: flex-end;
   
}
.nav li:hover{
    background-color: #c0bfc084;
}
.nav li{
    padding: 0px 30px;
    border-radius: 10px;
    animation-name: nav-link-load;
    animation-duration:var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time) ;
    animation-fill-mode: forwards;
    transform: scale(0);
}

 h5{
    /* animation: nav-load var(--nav-load-time) ease-in ; */
    animation: heading-load 300ms ease-in var(--heading-load-delay) ;
    animation-fill-mode: forwards;
    transform: translateY(-20%);
    opacity: 0;
}
 h1{
    /* animation: nav-load var(--nav-load-time) ease-in ; */
    animation: heading-load 300ms ease-in var(--heading-load-delay) ;
    animation-fill-mode: forwards;
        transform: translateY(-20%);
        opacity: 0;
}
 h3{
    /* animation: nav-load var(--nav-load-time) ease-in ; */
    animation: heading-load 300ms ease-in var(--heading-load-delay) ;
    animation-fill-mode: forwards;
        transform: translateY(-20%);
        opacity: 0;
}
 .card-box{
    /* animation: nav-load var(--nav-load-time) ease-in ; */
    animation: heading-load 300ms ease-in var(--heading-load-delay) ;
    animation-fill-mode: forwards;
        transform: translateY(-20%);
        opacity: 0;
}

p{
    animation: heading-load 300ms ease-in var(--heading-load-delay);
    animation-fill-mode: forwards;
        transform: translateY(-20%);
        opacity: 0;
}

button{
    animation: heading-load 300ms ease-in var(--heading-load-delay);
        animation-fill-mode: forwards;
        transform: translateY(-20%);
        opacity: 0;
}

.box-border {
    border: #fe7878 5px solid;
    height: 80px;
    width: 50px;
    margin-left: 4%;
    animation: heading-load 300ms ease-in var(--heading-load-delay);
        animation-fill-mode: forwards;
        transform: translateY(-20%);
        opacity: 0;
}

img{
    animation: img-load 300ms ease-in var(--heading-load-delay);
        animation-fill-mode: forwards;
       transform:translateX(-20%) ;
        opacity: 0;
}

.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

/* Style for the file input */
#imageInput {
    position: absolute;
    font-size: 100px;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    
}

/* Style for the plus icon button */
#plusIcon {
    display: inline-block;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #3498db;
    text-align: center;
    cursor: pointer;
    animation: heading-load 300ms ease-in var(--heading-load-delay);
        animation-fill-mode: forwards;
        transform: translateY(-20%);
        opacity: 0;
}

/* Style for the drop area */
.drop-area {
    border: 2px dashed #3498db;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #3498db;
    cursor: pointer;
    animation: heading-load 300ms ease-in var(--heading-load-delay);
        animation-fill-mode: forwards;
        transform: translateY(-20%);
        opacity: 0;
}

.section2{
background-color: #fe7878;

}

.bg2{
    background-color: #fe9191;
}
.bg3{
    background-color: #ffdddd;
}

.cardtext1{
 color: white;
 text-align: center;
 font-weight: 400;
}
.cardtext2{
    color: rgb(122, 122, 122);
}
 .cardtitle1{
    color: white;
    text-align: center;
    font-weight: 400;
 }
 .cardtitle2{
    color: rgba(0, 0, 0, 0.842);
    font-weight: 400;
 }

 .button1{
    background-color: #fe7878;
    border-radius: 10px;
 }
 .textPrimaryLight{
    color:#fe7878 ;
    font-weight: 400;
 }
 .textPrimaryBold{
    color:#fe7878 ;
    font-weight: 800;
 }

 

 .border2{
    width: 20px;
    height: 30px;
    border: #fe7878 1px solid;
    margin-bottom: 50px;
 }



 .section{
    margin: 10% 0%;
    text-align: center;
 }

 .uploadContainer{
    padding: 80px 0 100px 0px;
 }
 .visuals{
    margin-top: 10%;
    padding-top: 100px;
    text-align: center;
 }

 .footer{
    background-color: #131313;
    padding: 100px;
    display: flex;
    justify-content: end;
    align-items: baseline;
 }
 .hero-text{
    width: 100%;
    margin-left: 10%;
 }
.hero-image{
    width: 100%;
}

/* Second section style */
.second-section{
    display: flex;
    padding: 0% 10%;
}
.box{
    width: 50%;
    padding: 60px 50px;
    animation: fade linear;
    animation-timeline: view();
 
}

.box2:hover{
    transform: translateY(-10%);
    transition: opacity 300ms,transform 300ms;
    
}

 .section3 {
     display: flex;
     justify-content: center;
     padding: 0% 10%;
 }
.cardBody{
    width: 80%;
}



/* responsive */
 @media (max-width: 992px) {
    .nav-margin{
        padding-left: 10%;
    }
   .hero-image{
    display: none;
   }
   .hero-text{
    color:#fff;
    margin-left: 10%;
   }
   .hero{
    background-image: url('../public/assests/photo-1613685044678-0a9ae422cf5a.avif');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 10%;
   }
   .second-section {
       display: flex;
       padding: 0px 10px;
       justify-content: center;
   }
   .box{
    padding: 20px;
   }
   .cardtitle1{
    font-size: 20px;
   }
   .cardtext1{
    font-size:small;
   }
    .section3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }
    
 }

  @media (min-width: 993px) and (max-width: 1294px){
    .nav{
        width: 90%;
    }
    .second-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        }
        .box {
            padding: 40px 20px;
            width: 100%;
        }
        .cardtitle1 {
            font-size: 25px;
        }

        .cardtext1 {
            font-size:medium;
        }
        .section3 {
            display: flex;
            justify-content: center;
            padding: 0% 5%;
        }

        .cardBody {
            width: 100%;
            padding: 0px 10px;
        }
  }

   @media (max-width: 622px){
   
    .second-section {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
        .box {
            padding: 20px;
            width: 100%;
        }
        .section3 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: 5% auto;
            gap: 50px 0px;
        }
        .cardBody {
            width: 100%;
            padding: 0px 10px;
        }
        .cardtext2{
            font-size: small;
        }
        .textPrimaryLight{
            font-size: small;
        }
                  
   }

   @media (max-width: 452px){
    .hero-text {
            margin: 0px 0px;
            padding: 0px 20px;
        }
   }


   @keyframes nav-load{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
   }

   @keyframes nav-link-load{
    0% {
            transform: scale(0);
        }
    90%{
        transform: scale(1.1);
    }
        100% {
            transform:scale(1);
        }
   }
   @keyframes heading-load{
    0% {
            transform: translateY(-20%);
            opacity: 0;
        }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
   }

   @keyframes img-load{
    0% {
            transform: translateX(20%);
            opacity: 0;
        }
    
        100% {
            transform: translateX(0%);
            opacity: 1;
        }
   }

   @keyframes fade{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(15%);
    }
   }